{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Login</h1>
        <form action="{{ path('login') }}" method="post">
            <div class="input-container">
                <input type="text" id="login_username" required="required" name="_username"/>
                <label for="login_username">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="login_password" required="required" name="_password"/>
                <label for="login_password">Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button><span>Login</span></button>
            </div>
        </form>
    </div>
    <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">Register
            <div class="close"></div>
        </h1>
        {{ form_start(register_form, {'method': 'post', 'action': path('register')}) }}
            <div class="input-container">
                {{ form_widget(register_form.username) }}
                <label for="#{label}">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                {{ form_widget(register_form.password) }}
                <label for="#{label}">Password</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                {{ form_widget(register_form.password2) }}
                <label for="#{label}">Repeat Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <span>{{ form_widget(register_form.Register) }}</span>
            </div>
        {{ form_end(register_form) }}
    </div>
</div>
{% endblock %}